* {
    font-family: 'rubik', sans-serif;
    background-color: #F5EBEB;
}
.info{
    width: 100%;
}
tr, td {
    border: solid 1px;
    border-radius: 7px;
}
.foto {
    width: 150px;
}
img {
    width: 70px;
}
.estrella{
    width: 50px;
}
.dosPuntos {
    width: 10px;
}