* {
    font-family: 'rubik', sans-serif;
}
body {
    background-color: #D5B4B4;
}
header {
    width: 100%;
    margin: auto;
    margin-bottom: 2%;
}
#titulo {
    margin-bottom: 0px;
    margin-top: 0px;
}
#nombre {
    margin-top: 0px;
    margin-bottom: 0px;
}
.titleBox {
    font-size: 25px;
    margin: 0px;
}
p {
    font-size: 18px;
}
dl {
    font-size: 18px;
}
.info{
    width: 77%;
    margin: auto;
}
td {
    border: solid 1px #867070;
    border-radius: 7px;
    background-color: #E4D0D0;
}
tr {
    width: 30%;
}
.box {
    width: 30%;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
}
#infoBox {
    width: 490px;
}
#academicaBox {
    margin-bottom: 70%;
}
#proyectosBox {
    margin-bottom: 90%;
}
#contactosBox {
    margin-bottom: 90%;
}
#imagesBox {
    margin: 5px 0 0 10px;
}
#fotoBox {
    margin-left: auto;
}
.links{
    color: black;
    text-decoration: underline #E4D0D0;
}
.foto {
    width: 35%;
    border-radius: 100%;
    margin-left: 160.05px;
}
.lenguajes {
    width: 50px;
}
.bloqueLenguajes {
    margin-bottom: 15px;
}
#ingles {
    width: 221px;
}
.estrella{
    width: 35px;
    margin-bottom: 7px;
}
.dosPuntos {
    width: 10px;
    margin-bottom: 5px;
}

/* COMPLETADO */